header {
    min-height: 100vh;
    max-width: 100%;
    background-image: url('../../assets/header.png');
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header .wrapper img {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust this value to make the image smaller or larger */
    max-width: 400px; /* Optional: Set a maximum width */
}