:root {
    --blue: #00236D
    --white: #FFFFFF
    --black: #000000
    --green: #009C41;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', 'Montserrat';
}

.wrapper{
    max-width: 1024px;
}

a {
    text-decoration: none;
    color: var(--blue);
}

@media (max-width: 1024px) {
    .wrapper {
        max-width: 694px;
    }
}